@model ProjetoUrna.Models.Partido

@{
    ViewData["Title"] = "Delete";
}

<h2>Deletar</h2>

<h3>Certeza de que quer deletar o partido?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Cancelar</a>
    </form>
</div>
